{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">Liste des données collectées</h3>
</div>

<div class="card shadow-sm overflow-hidden">
    <div class="table-responsive">
        <table class="table text-center mb-0">
            <thead style="background-color: #7c4dff; color: white;">
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Note</th>
                    <th>Nb_Articles</th>
                    <th>Recommandation</th>
                    <th>Commentaire</th>
                    <th style="min-width: 180px;">Actions</th>
                </tr>
            </thread>
            <tbody>
                {% for p in produits %}
                <tr>
                    <td>{{ p.Nom}}</td>
                    <td>{{p.Ip}}</td>
                    <td>{{ p.Categorie }}</td>
                    <td>{{ p.Note }}</td>
                    <td>{{ p.Nb_Articles }}</td>
                    <td>{{ p.Recommandation }}</td>
                    <td>{{ p.Commentaire }}</td>
                    <td>
                        {% if p.Id in mes_ids %}
                            <a href="{{ url_for('charger', uid=p.Id) }}" class="btn btn-sm btn-primary me-2">Modifier</a><a href="{{ url_for('supprimer', uid=p.Id) }}" class="btn btn-sm btn-danger" onclick=" return confirm('Voulez-vous supprimer ces donnees ?')">Supprimer</a>
                        {% else %}
                            <span class="badge bg-secondary opacity-50"> Lecture uniquement</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
</div>
<div class="stats-container">
    <div class="stat-card">
        <span class="stat-label">Utilisateurs : </span>
        <span class="stat-value">{{Nombre_Utilisateurs}}</span>
    </div>
    <div class=stat-card>
        <span class="stat-label">Total :</span>
        <span class ="stat-value">{{Total_produits}}/1000</span>
    </div>
</div>   
{% endblock %}